body{
  font: 14px/1 'Montserrat', sans-serif;
  color: $black;
}

a{
  text-decoration: none;
  color: $black;
  transition: color 0.2s ease;
  outline: none!important;

  &:hover{
    transition: color 0.2s ease;
  }  

  &:active,
  &:focus,
  &:visited{
    color: initial;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button{
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  
  &_flexfix {
    display: flex;
  }
}

.header,
.footer {
	flex-shrink: 1;
	width: 100%;
}

.main {
	flex-grow: 1;
	width: 100%;
}

input {
  background: rgb(158, 156, 158);
  opacity: .5;
  border-radius: 5px;
  width: 175px;
  padding: 8px;
  border: none;
  outline: none;

  &[type="submit"]{
    opacity: 1;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
  }


  &:visited,
  &:active,
  &:hover,
  &:focus {
    background: $white;
    opacity: 1;
  }
}





.org-button{
  background-color: $orange;
  font-size: 14px;
  color: $black;
  display: inline-block;
  text-align: center;
  padding: 16px;
  border-radius: 3px;
  font-weight: 500;

  &.call-back-button{
    display: flex;
    align-items: center;

    &:before{
      content: '';
      width: 20px;
      height: 20px;
      display: block;
      padding-right: 30px;
      background: url('../images/callback.svg') no-repeat;
    }
  }

  &:hover{
    background-color: $hover-orange;
    transition: background-color .2s ease;
  }
}

.title-name{
  font-size: 24px;
  line-height: 29px;
  font-weight: 800;
  display: block;
  padding: 50px 0 25px 0px;
}
.single-title{
  font-size: 28px;
  line-height: 34px;
  font-weight: bold;
  display: block;
  padding-bottom: 15px;
}
.logo {
  a {
    display: flex;
    align-items: center;
  }

  &--text {
    padding-left: 12px;
  }
}