.about{
    background-color: $orange;
    color: $black;
    padding: 50px 0;
    
    p{
        font-size: 14px;
        line-height: 25px;
    }
    li{
        margin: 10px 0; 
    }

    .org-button{
        background-color: $white;
        min-width: 175px;
    }

    strong{
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }
}



// Page O kompanii
.o-kompanii{
    .entry-content{
        p,li{
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
        }
        strong{
            font-size: 24px;
            line-height: 29px;
            font-weight: 800;
            display: block;
        }
    }
    .title-name{
        padding-top: 50px;
    }
    .call-back{
        margin-bottom: 0;
    }
}