.contacts{
    span{
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
    }
    p,a{
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;
        display: block;
        margin: 0;
    }
    li{
        margin-bottom: 15px;
    }
}