.footer{
    padding: 50px 0;
    margin-top: 50px;
    background-color: $gray;

    @media(max-width: 700px){
      padding: 25px 0;
    }

    a{
        color: $white;
        padding: 0;
        transition: color .2s ease;

        @media(max-width: 1024px){
          font-size: 12px;
          line-height: 15px;
        }


        &:hover{
            color: $orange;
            box-shadow: none;
            transition: color .2s ease;
        }
    }
    
    span{
        font-size: 12px;
        display: block;
        color: $white;
        margin-bottom: 15px;
    }
    
    b{
        display: block;
        text-transform: uppercase;
        font-size: 13px;
        color: $white;
    }

    .org-button{
        height: 52px;
        max-width: 200px;
        color: $black;
        padding: 16px;

        &:hover{
            color: $black;
        }
    }

    &_flex{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;  

        &_techniks{
          width: 29%;
        }
        &_services{
          width: 16%;
        }
        &_links{
          width: 40%;
        }

        @media(max-width: 1024px){
          margin: 0 -10px;


          
          &_techniks{
            width: 100%;
          }
          &_services{
            width: 100%;
          }
          &_links{
            width: 100%;
          }
        
          &_col{
            padding: 0 10px;

            &-tell{
              width: 175px;
            }
          }
        }

        @media(max-width: 700px){
          flex-direction: column;

          &_col-tell,
          .info_about,
          .org-button {
            display: none;
          }
        }
        
    }

    &_tell{
        color: $white;
        font-weight: 600;
    }

    b.footer-title{
        text-transform: none;
        margin: 25px 0 20px 0;
    }

    &_list{
        li{
            margin: 10px 0;
            
            a{
                font-size: 12px;
                line-height: 15px;
                color: $white;
            }
        }
    }
}
$color-4: #eead68;
$color-3: #eec368;
$color-2: #eece68;
$color-1: #eed968;
$color-5: #ee8c68;

$color: $color-1, $color-2, $color-3, $color-4, $color-5;

@mixin anim() {
  @keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
    75% {
      transform: scale(2.5);
    }
    78%, 100% {
      opacity: 0;
    }
  }
}


.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
  background-color: $white;

  .loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    animation-delay: 1s;
  }

  @for $i from 1 through 5 {
    .item-#{$i} {
      width: 20px;
      height: 20px;
      background: #f583a1;
      border-radius: 50%;
      @include anim();
      background-color: nth($color, $i);
      margin: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      &:before {
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: nth($color, $i);
        opacity: 0.7;
        animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
        animation-delay: 200ms * $i;
        transition: 0.5s all ease;
        transform: scale(1);
      }
    }
  }
}

/*==========Popup==========*/
.popup {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 25px;
  background: #fff;
  vertical-align: middle;
  max-width: 450px;
  height: 340px;

  &__overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    text-align: center;
    z-index: 9999999;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;

    &:after{
      display: inline-block;
      height: 100%;
      width: 0;
      vertical-align: middle;
      content: ''
    }
  }

  &_open{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

  &__close{
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: url('../images/popup-close.png') no-repeat;
    background-size: contain;
    text-align: center;
  }

  &-title{
    font-size: 21px;
    font-weight: 600;
  }

  input[type="tel"],
  input[type="text"]{
    background-color: rgba(158, 156, 158, 0.12);
    border: 1px solid transparent;
    margin-top: 10px;

    &:hover{
      background-color: $white;
      border: 1px solid $black;
    }

    &:focus,
    &:active,
    &:visited{
      border: 1px solid $black;
      background-color: $white;
    }
  }

  input[type="submit"]{
    &:focus,
    &:active,
    &:visited{
      background-color: $orange;
    }
  }

  p{
    position: relative;
    
    &.popup-desc{
      font-weight: 600;
      margin-bottom: 30px;
    }

    .ajax-loader{
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}
/*==========Popup_END==========*/
.call-back-fixed{
  width: 70px;
  height: 70px;
  position: fixed;
  background-color: #F1C31E;
  bottom: 25px;
  right: 25px;
  z-index: 999;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color .3s ease;

  &:hover{
    background-color: $orange;
    transition: background-color .3s ease;
  }

  &:after{
    content: '';
    position: absolute;
    background: url('/wp-content/themes/digtrans/images/icon_call.png') no-repeat center center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-size: contain;
    width: 35px;
    margin: auto;
  }
}