.header {
  padding: 15px 0 50px 0;

  &-sub-menu{
    position: absolute;
    top: 54px;
    padding: 10px 20px;
    background-color: #565655;
    z-index: 99999999999999;
    right: 0;
    left: 0;
    width: 250px;
    margin: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;

    li a{
      color: $white;
      padding: 10px 0;
      display: block;
      font-size: 12px;
      line-height: 15px;
      opacity: .8;
      transition: opacity .2s ease;

      &:hover{
        opacity: 1;
        transition: opacity .2s ease;
      }
    }

    &.show{
      opacity: 1;
      visibility: visible;
      transition: opacity .3s ease, visibility .3s ease;
    }
  }

  .flex_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 

  .language{
    .flex_container{
      justify-content: flex-end;
    }
  }

  span {
    font-size: 12px;
  }
  b {
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 13px;
  }

  &_lang{
    display: flex;

    .lang-item{
      font-weight: 600;
      font-size: 11px;

      &:first-child{
        &:after{
          content: '|';
          margin: 0 2px;
        }
      }

      &.current-lang{
        text-decoration: underline;
      }
    }
  }

  
  &_nav{
    background-color: #565655;
    margin-top: 25px;
    position: relative;
    z-index: 999;

    &-list{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      
      .page_item {
        position: relative;

        a{
          color: $white;
          padding: 20px 0;
          display: block;

          &:after{
            content: '';
            width: 0;
            height: 1px;
            background-color: $white;
            transition: width .3s ease;
            display: block;
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
          }
        }

        &:hover{
          a{
            &:after{
              width: 100%;
              transition: width .3s ease;
            }
          }
        }

        &.current_page_item{
          a{
            &:after{
              content: '';
              width: 100%;
              transition: width .3s ease;
            }
          }
        }
      }
    }
  }
  
}