.single-services{
  p{
    font-size: 14px;
    line-height: 25px;
  }
  .single-image{
    float: right;
    padding: 0 0 50px 50px;
  }
  b.single-services-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}
.services{
    padding-bottom: 50px;

    .flex_col--1-4{
        padding: 0;
    }

    &_link{
        transition: box-shadow .3s ease;
        padding: 15px 20px;

        &:hover{
            transition: box-shadow .3s ease;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
    }

    &_name{
        font-size: 12px;
        line-height: 15px;
        display: block;
        margin-bottom: 15px;
        font-weight: normal;
    }
    .org-button{
        min-width: 175px;
        margin-top: 15px;
    }
}


.another-posts{
  padding-top: 50px;
  
  .technik_link{
    b.title-techniks{
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      display: block;
      margin: 10px 0;
      height: 35px;
    }

    &:hover{
      box-shadow: none;
    }
  }

  .main_gallery{
    margin: 0 -20px;
  }

  

  .slick-prev, .slick-next{
    bottom: -30px;
  }

}