.utp{
    [class^="flex_col"]{
        display: block;
    }
    p{
        font-size: 14px;
        line-height: 25px;
    }
    &_list{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    &_item{
        width: 50%;
        padding: 0 15px;

        p{
            font-size: 13px;
            line-height: 18px;
            font-weight: 600;
            max-width: 220px;
        }
    }

    @media(max-width: 1024px){
      .flex_col--1-2{
        display: flex;
        align-items: center;
      }
    }

    @media (max-width: 700px){
        .flex_row .flex_col--1-2{
          width: 100%;

          &:last-child{
            display: none;
          }
        }
    }
}